

.jumbotron-detail-pizza{
    background: url("../pizza-day.jpg") no-repeat fixed;
}


.jumbotron{
    height: 75vh;
    background-size: cover;
}
.about{
    text-align: center;
}
.btn{
    width: 35%;
}
#sum-order{
    display: none;
}

.form-control-cdata{
    display: none;
}

@media only screen and (min-width: 601px) {
    div.example {
      font-size: 80px;
    }
  }
 
  @media only screen and (max-width: 600px) {
    div.example {
      font-size: 30px;
    }
  }
  