
.logo{
    width: 8%;
}

.jumbotron-detail-pizza{
    background: url("../pizza-day.jpg") no-repeat fixed;
}


.jumbotron{
    height: 65vh;
    background-size: cover;
}
.about{
    text-align: center;
}
.btn{
    width: 35%;
}
#sum-order{
    display: none;
}

.form-control-cdata{
    display: none;
}